<div class="abouts">
  <ul class="list">
    <% @pictures.each do|p|%>
     <% p.avatars.each do |ta|%>
       <li style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat 50% 0;" class="bg1" >
       </li>
     <% end %>
   <% end %>
  </ul>
</div>
<div class="introduct">
  <span><strong>公司简介 </strong></span>
  <div class="introduct_cont">
    <%= @content.content.html_safe%>
  </div>
</div>
<div class="culture">
  <span><strong>公司文化 </strong></span>
</div>
<div class="culture_cont">
   <div class="zmd">
     <marquee behavior= slide direction=left scrollamount=30 onmouseover="this.stop()" onmouseout="this.start()" >
      <ul>
       <% @zmd.each do |p|%>
         <% p.avatars.each do |ta|%>
           <li>
           <% if ta.photo.blank? %>
             <%= image_tag "spp.png" %>
             <%= image_tag "job.png" %>
             <%= image_tag "people.png" %>
             <%= image_tag "environment.png" %>
           <% else %>
             <%= image_tag "#{ta.photo}" %>
           <% end %>
          </li>
        <% end -%>
      <% end -%>
     </ul>
    </marquee>
  </div>
</div>
<div class="visition">
  <span><strong>公司愿景 </strong></span>
</div>
<div class="visition_cont">
</div>
<div class="distribut">
  <span><strong>公司分布</strong></span>
   <div class="distribut_decs">
    <%= @distribut.content.html_safe%>
  </div>
</div>
<div class="distribut_cont">
  <div class="countrys">
      <ul>
       <% @countrys.each do |p|%>
         <% p.avatars.each do |ta|%>
           <li>
             <%= image_tag "#{ta.photo}" %><br>
             <p><strong><%= p.name%></strong></p>
          </li>
        <% end -%>
      <% end -%>
     </ul>
  </div>

</div>


