<div class="abouts">
  <ul class="list">
    <% @pictures.each do|p|%>
     <% p.avatars.each do |ta|%>
       <li style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat 50% 0;" class="bg1" >
       </li>
     <% end %>
   <% end %>
  </ul>
</div>
<div class="about_introduct">
  <span class="about_title"><strong>公司简介 </strong></span>
  <div class="introduct_cont about_desc">
    <%= @content.content.html_safe%>
  </div>
</div>
<div class="culture">
  <span class="about_title"><strong>公司文化 </strong></span>
</div>
<div class="culture_cont">
   <div class="zmd">
     <marquee behavior= slide direction=left scrollamount=30 onmouseover="this.stop()" onmouseout="this.start()" >
      <ul>
       <% @zmd.each do |p|%>
         <% p.avatars.each do |ta|%>
           <li>
             <%= image_tag "#{ta.photo}" %>
          </li>
        <% end -%>
      <% end -%>
     </ul>
    </marquee>
  </div>
</div>
<div class="visition">
  <span class="about_title"><strong>公司愿景 </strong></span>
</div>
<div class="visition_cont">
</div>
<div class="distribut">
  <span class="about_title"><strong>公司分布</strong></span>
   <div class="distribut_decs">
    <p  class="about_desc">公司总部位于北京市西城区，并于广州、上海、南通等 地设立分支机构。优秀而富有经验的人才团队是阳光公采最大的核心优势与最宝贵的财富。
    </p>
  </div>
</div>
<div class="distribut_cont">
  <div class="countrys">
    <marquee behavior= slide direction=left scrollamount=30 onmouseover="this.stop()" onmouseout="this.start()" >
      <ul>
       <% @countrys.each do |p|%>
         <% p.avatars.each do |ta|%>
           <li>
             <%= image_tag "#{ta.photo}" %></br>
             <p class="about_title"><strong><%= p.name %></strong></p>
          </li>
          <li>
          </li>
        <% end -%>
      <% end -%>
     </ul>
    </marquee>
  </div>

</div>


