<% @pictures.each do|p|%>
<% p.avatars.each do |ta|%>
  <div class="contacts" style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat 50% 0;" class="bg1">

    <span>CONTACT US</span><br>
    <span>联系我们</span>

    <div class="contact_cont">
      <div class="view">
        <ul>
          <% @contacts.each do |contact|%>
            <% contact.avatars.each do |ta|%>
           <li class="fl">
            <p class="title"><%= contact.title%>
              <span class="map">
                <a class="pic" pid="<%= ta.id%>">[查看地图] </a>
              </span>
            </p><br>  
            <div  class="maps"  id="<%= ta.id%>" >
              <div class="close" pid="<%= ta.id%>">点击关闭地图</div>
              <%= image_tag "#{ta.photo}"  %>
            </div>    
            <p class="content">地址：<%= contact.address %></p>
            <p class="content">邮编：<%= contact.poste %></p>
            <p class="content">邮箱：<%= contact.email %></p> 
            <p class="content">电话：<%= contact.phone %><p> 
           </li>
           <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    
  <% end %>
  <% end%>
<script type="text/javascript">
  $(document).ready(function(){
    $(".pic").click(function(){
      var pid = $(this).attr("pid");
      $("#"+pid).show(); 
   $(".close").click(function(){
      var pid = $(this).attr("pid");
      $("#"+pid).hide(); 
    });
    });
  });


</script>
