<div class="banner">
  <ul class="list">
    <% @picture.each do|p|%>
     <% p.avatars.each do |ta|%>
       <li style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat 50% 0;" class="bg1" >
       </li>
     <% end %>
   <% end %>
  </ul>
</div>
<div class="product_3">
  <div class="product-main_3">
    <div class="hyzx">行业资讯</div>
    <ul class="gsdt">
      <li>
        <div>公司动态</div>
      </li>
    </ul>
  <div class="search">
     	<%= render "search" %>
  </div>

  <div class="infos">
    <div class="picture">
      <ul>
       <% @contents.each do |p|%>
         <% p.avatars.each do |ta|%>
           <li>
           <% if ta.photo.blank? %>
             <img src="/assets/man.gif">
           <% else %>
             <img src="<%= ta.photo.url %>">
           <% end %>
          </li>
        <% end -%>
      <% end -%>
     </ul>
   </div>

   <div class="content">
     <ul>
       <% @contents.each do |p|%>
         <li>
           <p class="title"><strong><%= link_to "#{p.title}", infos_extras_home_index_path(id: p.id) %></strong></p>
           </br>
           <p class="desc"><%= p.desc.html_safe %></p>
         </li>
       <% end -%>
    </ul>
   </div>

  </div>
      <%= paginate @contents%>
  </div>
 
</div>
