<div class="banner">
  <ul class="list">
    <% @picture.each do|p|%>
     <% p.avatars.each do |ta|%>
       <li style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat 50% 0;" class="bg1" >
       </li>
     <% end %>
   <% end %>
  </ul>
</div>
<div class="product_3">
  <div class="product-main_3">
    <div class="hyzx">行业资讯</div>
    <ul class="gsdt">
      <li>
        <div>公司动态</div>
      </li>
    </ul>
  <div class="search">
     	<%= render "search" %>
  </div>

  <div class="infos">
    <div class="picture">
      <ul>
       <% @infos.each do |p|%>
         <% p.avatars.each do |ta|%>
           <li>
           <% if ta.photo.blank? %>
              <%= image_tag "man.gif" %>
           <% else %>
              <%= image_tag "#{ ta.photo}" %> 
           <% end %>
          </li>
        <% end -%>
      <% end -%>
     </ul>
   </div>

   <div class="content">
     <ul>
       <% @infos.each do |p|%>
         <li>
           <h2 class="title"><strong><%= link_to "#{p.title}", infos_extras_home_index_path(id: p.id) %></strong></h2>
           </br>
           <p class="desc"><%= p.desc.html_safe %></p>
         </li>
       <% end -%>
    </ul>
   </div>

  </div>
      <%= paginate @infos%>
  </div>
 
</div>
