<div class="banner">
  <ul class="list">
    <% @picture.each do|p|%>
     <% p.avatars.each do |ta|%>
       <li style="display: list-item;background:url(<%= ta.photo.url %>) no-repeat 50% 0;" class="bg1" >
       </li>
     <% end %>
   <% end %>
  </ul>
</div>


<div class="ex">
<div class="desc">
<div class="extra">
    <div class="location">
      <span>当前位置：</span> 
      <%=link_to "方案与产品" ,products_home_index_path%> ><%=@content.name%>
    </div>
    <h1>
      <div class="title">
      <%=@content.name%>
    </div>
    </h1>
  </div>
<div class="cont">
  <div class="introducts">
   <span><%=@content.introduction.html_safe%></span>
  </div>
  <div class="detail">
   <span><%= @content.detail.html_safe%></span>
  </div>
 </div>
 </div>
 </div>
