<div class="plate">
  <ul>
    <%= plate_link new_backend_info_path(:back => request.fullpath), is_first:'true', color:'green' , title:  '新建资讯动态', desc: '添加资讯' %>
  </ul>
</div>

<h1>资讯管理</h1>

<div class="well_head">
  <div class="jianju_x">
    <table class="common">
      <tbody>
        <tr>
          <td>序号</td>
          <td>类别</td>
          <td>名称</td>
          <td>操作</td>
        </tr>
        <% @infos.each_with_index do |info,index| %>
          <tr>
            <td><%= index_no(index, 20)%></td>
            <td><%= Info::KIND[info.kind]%></td>
            <td><%= info.title%></td>
            <td class="textc operation">
              <%=link_to "查看" , backend_info_path(info, :back => request.fullpath) %>
              <%= link_to"修改", edit_backend_info_path(info, :back => request.fullpath) %>
              <%= link_to"删除", backend_info_path(info,  :back => request.fullpath), :method => :delete, data:{confirm: "确定要删除吗？"}%>
            </td>
          </tr>    
        <% end %>
      </tbody>
    </table>
  </div>
   <%= paginate @infos %>
</div>