<!DOCTYPE html >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
    <title>北京阳光公采科技有限公司</title>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=vR2FGoGGGchODCtkckIXGGZR3wwFTWUA">
    </script>
</head>

<body>
<div class="head">
<div class="header">
    <div class="number"><%= image_tag "house.jpg" %><span>您好，欢迎来到阳光公采</span></div>
  <div class="keyword">
    <span>客服热线：400-965-9565</span>
    <span>工作时间：工作日：08：00-18：30</span>
  </div> 
</div>
  <div class="logo"><%= image_tag "logo_03.png" %></div>
<!--   <div class="number"></div>
  <div class="keyword">
    <span><a href="http://www.sinopr.org" target="_blank">公共资源交易网</a></span>
    <span><a href="http://www.biaoxun.com.cn" target="_blank">标讯网</a></span>
  </div>  -->
  <div class="nav">
  <ul>
    <li class="li-other"><%= link_to "首页", root_path%></li>
    <li><%= link_to "方案与产品", products_home_index_path%></li>
    <li><%= link_to "资讯动态", informations_home_index_path%></li>
<!--     <li><a href="jcyy.html">基础应用</a></li>
    <li><a href="ydzd.html">移动终端</a></li> -->
    <!--<li><a href="cgal.html">成功案例</a></li>-->
    <li><%= link_to "关于我们", abouts_home_index_path%></li>
    <li><%= link_to "联系我们", contacts_home_index_path%></li> 

  </ul>
</div>
</div>


<%= yield %>
<div class="footer">
北京阳光公采科技有限公司 &nbsp;   &nbsp;   &nbsp; 电话: 400-965-9565 &nbsp;   &nbsp;   &nbsp; 京ICP备13031958号-1
<!-- <script src="http://s4.cnzz.com/z_stat.php?id=1255166650&web_id=1255166650" language="JavaScript"></script> -->
</div> 

</body>
</html>
